#listItem {
    border: 1px solid lightblue;
}
#grap {
    padding: 100px
}
.gridhead{
    color: lightgray !important;
    font-size: 0.5em;
}
#customerName {
    color: rgb(38, 38, 228);
    font-size: 0.7em;
}
#listBtn {
    background-color: white;
    color: rgb(99, 206, 241);
    border: 1px solid rgb(99, 206, 241);
}
#listWrapper {
    margin-bottom: 20px;
}